:root {
  --heading-font: 'Montserrat', sans-serif;
  --body-font: 'Poppins', sans-serif;
}

@font-face {
  font-family: 'Goodly';
  src: url(../Fonts/goodly-regular.otf) format('opentype');
}

* {
  box-sizing: border-box;
}

/* ==========================
   BODY RESET
========================== */
body {
  height: 200vh;
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
}

/* ==========================
   HERO SECTION
========================== */
#hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-backgorund::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.25);
  z-index: 1;
}

.hero-backgorund {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #111;
}

.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transform: scale(1.1);
  transition: opacity 1s ease-in-out, transform 5s ease;
  z-index: 0;
}

.hero-image.active {
  opacity: 1;
  transform: scale(1);
  z-index: 2;
}

/* ==========================
   HERO TEXT
========================== */
.hero-text {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 5;
  text-shadow: 0 2px 10px rgba(0,0,0,0.7);
}

.hero-text h1 {
  font-family: 'Goodly', sans-serif;
  font-size: 3rem;
  margin-bottom: 15px;
}

.hero-text p {
  font-size: 1.2rem;
  font-family: var(--heading-font);
}

/* ==========================
   HERO ARROWS
========================== */
.hero-arrows {
  position: absolute;
  top: 50%;
  width: 100%;
  /* display: flex; */
  /* justify-content: space-between; */
  padding: 0 30px;
  transform: translateY(-50%);
  z-index: 10;
}

.arrow-left, .arrow-right {
  color: white;
  font-size: 4rem;
  font-weight: normal;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* ==========================
   NAVBAR
========================== */
nav {
  position: absolute;
  height: 60px;
  top: 0;
  width: 100%;
  z-index: 100;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-between; */
  padding: 0 20px;
  transition: background-color 0.4s ease, box-shadow 0.4s ease;
  background: transparent;
  border-bottom: none;
}

nav.scrolled {
  position: fixed;
  background-color: white;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.logo-name {
  font-family: 'Goodly', sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
  z-index: 25;
}

nav ul {
  /* display: flex; */
  /* align-items: center; */
  list-style: none;
  gap: 20px;
  margin: 0;
  padding: 0;
  z-index: 25;
}

nav ul li {
  position: relative;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  padding: 8px 5px;
  display: flex;
  align-items: center;
  transition: color 0.2s ease;
}

nav ul li a:hover {
  color: rgb(120, 36, 36);
}

.custom-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  flex-direction: column;
  background-color: white;
  gap: 0;
  min-width: 150px;
  z-index: 30;
}

.custom-dropdown li {
  margin: 0;
  width: 100%;
}

.custom-dropdown li a {
  width: 100%;
  color: #333;
  padding: 10px;
  transition: color 0.2s ease;
}

.custom-dropdown li a:hover {
  color: rgb(120, 36, 36);
}

.custom-dropdown.show, .custom-dropdown.show-activities {
  display: flex;
  animation: dropdownOpen 0.35s ease forwards;
}

@keyframes dropdownOpen {
  0% {
    opacity: 0;
    transform: translateY(-8px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

nav a {
  color: white;
  transition: color 0.3s ease;
}


nav.scrolled a {
  color: black;
}


nav .logo-name {
  color: white;
  transition: color 0.3s ease;
}

nav.scrolled .logo-name {
  color: black;
}

.hamburger-menu {
  display: none;
}

.show-menu {
  display: block;
}
/* ==========================
   END OF HERO CSS
========================== */

/* ==========================
   RESPONSIVNES
========================== */

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes linksFadeIn {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 320px) {
  nav ul {
    display: none;
    flex-direction: column;
    background-color: white;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: fit-content;
    padding-left: 10px;
    z-index: 200;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    animation: fadeIn 0.4s ease forwards;
  }

  nav ul.show-menu {
    transform: translateX(0);
  }

  nav ul li {
    text-align: center;
  }

  nav ul li a {
    font-size: 1rem;
    color: #333;
    animation: linksFadeIn 0.25s ease forwards;
  }

  nav ul li a:hover {
    color: rgb(120, 36, 36);
  }

  .custom-dropdown {
    position: relative;
    top: 0;
    left: 0;
    background-color: #f9f9f9;
    box-shadow: none;
    width: 100%;
    padding: 0;
    gap: 0;
  }

  .hero-text {
    width: 90%;
  }

  .hero-text h1 {
    font-size: 1.8rem;
  }

  .hero-text p {
    font-size: 1rem;
    margin-top: 60px;
  }

  .arrow-left, .arrow-right {
    font-size: 2rem;
  }

  .hamburger-menu {
    display: block;
  }

  .hamburger-menu i {
    font-size: 2rem;
  }
}

@media (max-width: 375px) {
  nav ul {
    display: none;
    flex-direction: column;
    background-color: white;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: fit-content;
    padding-left: 10px;
    z-index: 200;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    animation: fadeIn 0.4s ease forwards;
  }

  nav ul.show-menu {
    transform: translateX(0);
  }

  nav ul li {
    text-align: center;
  }

  nav ul li a {
    font-size: 1rem;
    color: #333;
    animation: linksFadeIn 0.25s ease forwards;
  }

  nav ul li a:hover {
    color: rgb(120, 36, 36);
  }

  .custom-dropdown {
    position: relative;
    top: 0;
    left: 0;
    background-color: #f9f9f9;
    box-shadow: none;
    width: 100%;
    padding: 0;
    gap: 0;
  }
  
  .hero-text {
    width: 90%;
  }

  .hero-text h1 {
    font-size: 1.8rem;
  }

  .hero-text p {
    font-size: 1rem;
    margin-top: 60px;
  }

  .arrow-left, .arrow-right {
    font-size: 2rem;
  }

  .hamburger-menu {
    display: block;
  }

  .hamburger-menu i {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  nav ul {
    display: none;
    flex-direction: column;
    background-color: white;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: fit-content;
    padding-left: 10px;
    z-index: 200;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    animation: fadeIn 0.4s ease forwards;
  }

  nav ul.show-menu {
    transform: translateX(0);
  }

  nav ul li {
    text-align: center;
  }

  nav ul li a {
    font-size: 1rem;
    color: #333;
    animation: linksFadeIn 0.25s ease forwards;
  }

  nav ul li a:hover {
    color: rgb(120, 36, 36);
  }

  .custom-dropdown {
    position: relative;
    top: 0;
    left: 0;
    background-color: #f9f9f9;
    box-shadow: none;
    width: 100%;
    padding: 0;
    gap: 0;
  }

  .hero-text {
    width: 90%;
  }

  .hero-text h1 {
    font-size: 2rem;
  }

  .hero-text p {
    font-size: 1.1rem;
    margin-top: 60px;
  }

  .arrow-left, .arrow-right {
    font-size: 2.5rem;
  }

  .hamburger-menu {
    display: block;
  }

  .hamburger-menu i {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  nav ul {
    display: none;
    flex-direction: column;
    background-color: white;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: fit-content;
    padding-left: 10px;
    z-index: 200;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    animation: fadeIn 0.4s ease forwards;
  }

  nav ul.show-menu {
    transform: translateX(0);
  }

  nav ul li {
    text-align: center;
  }

  nav ul li a {
    font-size: 1rem;
    color: #333;
    animation: linksFadeIn 0.25s ease forwards;
  }

  nav ul li a:hover {
    color: rgb(120, 36, 36);
  }

  .custom-dropdown {
    position: relative;
    top: 0;
    left: 0;
    background-color: #f9f9f9;
    box-shadow: none;
    width: 100%;
    padding: 0;
    gap: 0;
  }

  .hero-text {
    width: 90%;
  }

  .hero-text h1 {
    font-size: 2.8rem;
  }

  .hero-text p {
    font-size: 1.3rem;
    margin-top: 60px;
  }

  .arrow-left, .arrow-right {
    font-size: 2.5rem;
  }

  .hamburger-menu {
    display: block;
  }

  .hamburger-menu i {
    font-size: 2rem;
  }
}

@media (max-width: 900px) {
  nav ul {
    display: none;
    flex-direction: column;
    background-color: white;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: fit-content;
    padding-left: 10px;
    z-index: 200;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    animation: fadeIn 0.4s ease forwards;
  }

  nav ul.show-menu {
    transform: translateX(0);
  }

  nav ul li {
    text-align: center;
  }

  nav ul li a {
    font-size: 1rem;
    color: #333;
    animation: linksFadeIn 0.25s ease forwards;
  }

  nav ul li a:hover {
    color: rgb(120, 36, 36);
  }

  .custom-dropdown {
    position: relative;
    top: 0;
    left: 0;
    background-color: #f9f9f9;
    box-shadow: none;
    width: 100%;
    padding: 0;
    gap: 0;
  }

  .hero-text {
    width: 90%;
  }

  .hero-text h1 {
    font-size: 2.8rem;
  }

  .hero-text p {
    font-size: 1.3rem;
    margin-top: 60px;
  }

  .arrow-left, .arrow-right {
    font-size: 2.5rem;
  }

  .hamburger-menu {
    display: block;
  }

  .hamburger-menu i {
    font-size: 2rem;
  }
}

@media (max-width: 1024px) {
  .custom-dropdown {
    position: relative;
    top: 0;
    left: 0;
    background-color: #f9f9f9;
    box-shadow: none;
    width: 100%;
    padding: 0;
    gap: 0;
  }

  .hero-text {
    width: 90%;
  }

  .hero-text h1 {
    font-size: 2.8rem;
  }

  .hero-text p {
    font-size: 1.3rem;
    margin-top: 60px;
  }

  .arrow-left, .arrow-right {
    font-size: 2.5rem;
  }
}